@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
/*
@mixin grip-gutter-horizontal {
    &:not(:last-child) {
        margin-right: $gutter-horizontal;
    }
    
}
*/