.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
    @include respond(tab-port) {
        padding: 15rem 5rem;
    }
}

.section-features {
    padding: 20rem 0;
    margin-top: -10rem;
    background-image:linear-gradient(
                        to right bottom,
                        rgba($color-primary-light, 0.8), 
                        rgba($color-primary-dark, 0.8)), 
                    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }
    @include respond(tab-port) {
        padding: 4rem 0;

    }
}

.section-tour {
    background-color: $color-grey-light;
    padding: 25rem 0 10rem 0;
    margin-top: -10rem;
    @include respond(tab-port) {
        padding-top: 15rem;
        padding-bottom: 1rem;
    }
}

.section-stories {
    padding: 15rem 0 10rem 0;
    position: relative;
    @include respond(tab-port) {
        padding: 5rem;
    }
}

.section-book {
    padding: 15rem 0;
    background:linear-gradient(
                        to right bottom,
                        rgba($color-primary-light, 0.8), 
                        rgba($color-primary-dark, 0.8));
    @include respond(tab-port) {
        padding: 10rem;
    }                        
}

.book {
    background-image: linear-gradient(105deg,rgba($color-white, .9) 0%, rgba($color-white, .9) 50% , transparent 50% ),url(../../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, 0.2);
    &__form {
        width: 50%;
        padding: 3rem;
    }
    @include respond(tab-land) {
        background-image:   linear-gradient(105deg,rgba($color-white, .9) 0%,
                            rgba($color-white, .9) 65% ,
                            transparent 65% ), 
                            url(../../img/nat-10.jpg);
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, 0.2);
        &__form {
            width: 60%;
            padding: 2rem;
        }
    }
    @include respond(phone) {
        background-image:   linear-gradient(105deg,rgba($color-white, .9) 0%,
                            rgba($color-white, .9) 100% ,
                            transparent 100% ), 
                            url(../../img/nat-10.jpg);
        &__form {
            width: 100%;
            padding: 1rem;
        }
    }
    
}